<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".Eliminar_HoraMedica"
            android:exported="false" />
        <activity
            android:name=".Guardando_Hora_Medica"
            android:exported="false" />
        <activity
            android:name=".InfoMedicamento"
            android:exported="false" />
        <activity
            android:name=".SetAlarm"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".ui.EditarHoraMedica" />
        <activity
            android:name=".ui.editarMedicamento.EditarMedicamentoPt3"
            android:exported="false" />
        <activity
            android:name=".ui.editarMedicamento.EditarMedicamentoPt2"
            android:exported="false" />
        <activity
            android:name=".ui.editarMedicamento.EditarMedicamentoPt1"
            android:exported="false" />
        <activity
            android:name=".Eliminar_Medicamento"
            android:exported="false" />
        <activity
            android:name=".ui.editarMedicamento.Editar_Medicamento"
            android:exported="false" />
        <activity
            android:name=".Guardando_Medicamento"
            android:exported="false" />

        <receiver android:name=".AlarmReceiver" />

        <activity
            android:name=".HorasMedicas"
            android:exported="false" />
        <activity
            android:name=".AddMedPagerAdapter"
            android:exported="false" />
        <activity
            android:name=".AddMed"
            android:exported="false" />
        <activity
            android:name=".bottomNav"
            android:exported="true" />
        <activity
            android:name=".slidebar"
            android:exported="false"
            android:label="@string/title_activity_slidebar"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".assisted_user_form"
            android:exported="false" />
        <activity
            android:name=".user_tipe"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".iniciar_sesion"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.VerInfoHoraMedica"
            android:exported="false" />

        <receiver
            android:name=".Alarm"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".StopAlarmReceiver"
            android:exported="true" />

        <receiver android:name=".AlarmService$PostponeAlarmReceiver"

        android:exported="true"/>


        <service
            android:name=".AlarmService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />
    </application>

</manifest>